<%= stylesheet_link_tag "main", media: "all" %>
<%if Current.user %>
  <div class="control-container">
    <a class="button-primary" href="person_report">Print Person</a>
    <a class="button-primary" href="course_report">Print Course</a>
    <a class="button-primary" href="project_report">Print Project</a>
    <a class="button-primary" href="thesis_report">Print Theses</a>
    <a class="button-primary" href="">Full Person Report</a>
  </div>
<% end%>
