/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Sagoe UI", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background: #00c9a7;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 8px;
}

.button-primary,
.button-secondary {
  padding: 1em;
  border-radius: 16px;
  text-align: center;
  font-size: 2em;
  padding: 10px;
  border: none;
  background-color: #12192c;
  color: white;
}

.button-secondary {
  background-color: #00c9a7;
}

a.button-primary {
  width: 80%;
  color: white;
  text-decoration: none;
}

a:visited.button-primary {
  color: white;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
