.details {
    background: #EFEFEF;
    padding-bottom: 20px;
    border-radius: 25px;;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.details-image-container{
    text-align: center;
}

.details-img {
    margin-top: 10px;
    height: 200px;
    width: 150px;
    object-fit: cover;
    border-radius: 20px;
}

.details-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.details-link {
    color: #313755 !important;
    margin-right: 15px;
}

.details-subtitle {
    color: #303030;
    margin-bottom: 5px;
}

.details-subsubtitle {
    color: #444444;
    margin-top:10px;
}

.details-controls {
    display: flex;
}

.augments {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.inputs {
    width: 100%;
}

.augments>.augment-row:last-child {
    margin-bottom: 10px;
}

.augment-row {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.area {
    height: 100px;
}

.highlight {
    color: red;
}

.aug-label {
    color: black
}

.full-size {
    width: 100%;
}

.search-btn {
    margin-left: auto;
}

.search-field{
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    background-color: #12192c;
    color: white;
    border-radius: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 32px 16px 32px 16px;
    height: fit-content;
}