.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #12192c;
    color: white;
    padding: 10px;
}

.home-link {
    font-size: 2em;
    font-weight: bold;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}